<section class="case-study">
    <h2>Featured Work</h2>
    <h3>Branding Tex Mex</h3>
    <blockquote>Current360 has been an instrumental partner in educating the public about what makes Tex Mex special.<cite>Mike Higgins, CEO Tumbleweed</cite></blockquote>
    <a href="" class="button">Case Study</a>
</section>