<section class="culture">
    <h4>Culture at Current360</h4>
    <ul class="bio-list-one no-disc">
        <li><a href="#"><%= image_tag('headshots/rex-soriano.jpg') %></a></li>
        <li><a href="#"><%= image_tag('headshots/kati-parrish.jpg') %></a></li>
    </ul>
    <article>
        <h5>Looking for a career?</h5>
        <a class="button" href="">More Info</a>
    </article>
    <ul class="bio-list-two no-disc">
        <li><a href="#"><%= image_tag('headshots/kailee-viehland.jpg') %></a></li>
        <li><a href="#"><%= image_tag('headshots/chelsea-grider.jpg') %></a></li>
    </ul>
    <br class="clear">
</section>