<%= content_for :page_title, "Contact Current360 for Digital & Traditional Marketing Services" %>
<%= content_for :description, "Whether you’re looking for a full-service marketing agency to help build your brand or you’re interested in joining our team, we’d love to hear from you." %>
<div class="wrapper">
  <main class="contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.950330499529!2d-85.72726199999997!3d38.25745799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886972dfa7560f43%3A0x7b886adb759e0206!2s1324+E+Washington+St!5e0!3m2!1sen!2sus!4v1404768032228" width="1400" height="800" frameborder="0" style="border:0"></iframe>
    <h1>Current360 Contact Information</h1>
    <aside>
      <%= render 'layouts/locations' %>
    </aside>
    <form>
      <p>Contact Us</p>
      <input type="text" placeholder="Name" name="contact-name" />
      <input type="email" placeholder="E-mail" name="email" />
      <textarea></textarea>
      <input type="submit" value="Submit Form" />
    </form>
  </main>
</div>