<%= content_for :page_title, "Data-Driven Marketing Strategy | Integrated Brand Building" %>
<%= content_for :description, "We know dynamic, data-driven ways to engage with audiences across a wide variety of industries and consumer segments to get noticed and achieve results." %>
<div class="wrapper">
  <main class='strategy'>
    <h1>Strategic Planning for Data-<br>Driven Marketing Campaigns</h1>
    <p>Here’s what you can expect when you work with us.</p>
  </main>
</div>
<div class="slider-wrapper">
  <div class="slide active" data-slide="1" id="conversation">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">01</span>/09</p>
      <p class="header2">We have a conversation</p>
      <p>Whether you’re a new client or an existing client, every project begins the same way. You’ll sit down with the people who will be working on your account and we’ll listen as you tell us about the goal you want to achieve.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="2" id="homework">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">02</span>/09</p>
      <p class="header2">We do our homework.</p>
      <p>This is where we tap into our inner nerds. We perform competitive and categorical research, we analyze psycho-/socio-/demographic data about your target audience and we utilize our connections with leading market research firms. Then we clear all the clutter to reveal a truth we can build on.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="3" id="strategy">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">03</span>/09</p>
      <p class="header2">We formulate a strategy. And we share it with you.</p>
      <p>We use this information – along with the collective knowledge and experience of our team – to develop an overarching strategy that will achieve your goal. Then we have another conversation with you.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="4" id="creative">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">04</span>/09</p>
      <p class="header2">We write a creative brief. And we share that with you, too.</p>
      <p>Before we even think about creative executions, we complete a brief that outlines every aspect of your project, from the objective to the message to the tone. Then we ask you to sign it. This ensures that everyone who interacts with your project has the exact same understanding, which simplifies the following steps and reduces the need for revisions.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="5" id="gotowork">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">05</span>/09</p>
      <p class="header2">We go to work.</p>
      <p>This is the part where we put a fistful of quarters in the creativity machine, turn up all the dials and yank down on that big green lever.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="6" id="present">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">06</span>/09</p>
      <p class="header2">We present our big ideas. And we listen to your feedback.</p>
      <p>It’s that simple. If you’re blown away, we move forward. If we need to make revisions, this is the stage to do just that.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="7" id="test">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">07</span>/09</p>
      <p class="header2">We test it.</p>
      <p>Once you’ve signed off on the work, we see how it stands up to real world scenarios. We can perform consumer testing and focus groups to ensure that our ideas resonate well with the target audience. Then we make any necessary adjustments to improve the overall idea.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>

  <div class="slide" data-slide="8" id="execute">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">08</span>/09</p>
      <p class="header2">We execute it.</p>
      <p>When you say go, we go.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>
  <div class="slide" data-slide="9" id="track">
    <article class="slide-text">
      <p class="slide-count"><span class="current-slide">09</span>/09</p>
      <p class="header2">We track it and improve it.</p>
      <p>Just because our idea is out there doesn’t mean our work is done. We’re constantly – especially from a social or digital perspective – refining our message and tweaking our delivery methods to improve our results.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>
  <div class="case-study-block">
    <article class="slide-text">
      <span class="triangle"></span>
      <p class="header2">And we can prove it.</p>
      <p>See how our strategic process has lead to successes for our clients.</p>
    </article>
    <aside>
      <h2 class="header2">Current360 Case Studies</h2>
      <ul>
        <li><a href="">Clark Memorial</a></li>
        <li><a href="">Jefferson National</a></li>
        <li><a href="">Mortenson Family Dental</a></li>
        <li><a href="">Schmitt Sohne</a></li>
        <li><a href="">Tumbleweed</a></li>
        <li><a href="">YMCA Louisville</a></li>
      </ul>
    </aside>
  </div>
</div>