nav {
    @include transition(all 0.5s ease-in-out);

    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    ul {
        background: $text;
        height: 100%;
        max-width: 11em;

        li {
            height: 4.5em;
        }
        a {
            color: white;
            display: block;
            height: 4.5em;
            font-size: 1.125em;
            line-height: 4.5em;
            text-indent: 1.5em;
        }
    }
    form {
        @include fill-parent;
        background: $links;

        display: block;
        height: 4.5em;
        padding-top: 1.25em;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;

        input[type="text"] {
            border: 2px solid $text;
            display: inline-block;
            height: 1.75em;
            margin: 0 0 0 1em;
            min-width: initial;
            width: 7.75em;
        }
        input[type="submit"] {
            @include hide-text;

            background: asset-url('icons/search.png', image);
            display: inline-block;
            height: 1.75em;
            margin: 0;
            min-height: initial;
            min-width: initial;
            width: 1.75em;
        }
    }
    .contact-link {
        color: white;
        display: block;
        height: 4.5em;
        line-height: 4.5em;
        max-width: 11em;
        position: absolute;
        text-indent: 1.5em;
        top: 360px;
        z-index: 9999999;
        width: 100%;
    }

    #close {
        @include hide-text;
        background: asset-url("icons/burger.png", image);
        background-color: $links;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 22px 20px;
        display: block;
        height: 4.5em;
        position: absolute;
        right: 0;
        top: 0;
        width: 4.5em;
        z-index: 9999;
        span {
            @include triangle(6px, $text, left);
            position: absolute;
            left: 70%;
            top: 46%;
        }
    }
}

nav:target {
    padding-top: 4.5em;
    height: 100%;
    max-width: 20em;
    width: 100%;
}

@include media($laptop) {
        nav {
            @include outer-container;

            height: 72px;
            overflow: visible;
            position: relative;
            top: -72px;
            z-index: 2;

            #close, .triangle {
                height: 0;
                width: 0;
            }
            ul {
                float: left;
                max-width: none;
                width: 700px;
                li {
                display: block;
                float: left;
                height: 4.9em;
                }
                a {
                    height: 4.4em;
                    padding: 0;
                    text-indent: 0;
                }
            }

            form {
                position: initial;
                float: left;
                width: 280px;
            }

            .contact-link {
                color: white;
                display: block;
                float: left;
                font-size: 1em;
                height: 4.5em;
                max-width: initial;
                position: initial;
                text-indent: 0;
                width: initial;
            }
        }

        .home-link {
            @include hide-text;
            background: asset-url('logos/full-screen-logo-background.png', image);
            display: block;
            height: 161px;
            width: 280px;
            }
            .home-link:hover {
                background: asset-url('logos/full-screen-logo-background.png', image);
            }
    }