<footer>
    <%= link_to(image_tag('logos/c360-mobile-footer-logo.png'), root_path, :class => 'footer-logo') %>
    <section>
        <div class='locations'>
            <%= render 'layouts/locations' %>
        </div>
        <aside>
            <%= render 'layouts/social' %>
            <br class="clear">
            <%= render 'layouts/copyright' %>
        </aside>
    </section>
</footer>
