<article class='ky-location' itemscope itemtype="http://schema.org/LocalBusiness">
  <span class="name" itemprop="name">Louisville Office</span>
  <span itemprop="description"></span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress" class="street">1324 E Washington St</span>
    <span itemprop="addressLocality">Louisville</span>,
    <span itemprop="addressRegion">KY</span>
    <span itemprop="postalCode">40206</span>
  </div>

  <a itemprop="telephone" href="tel:1-502-589-3567">502 589 3567</a>
</article>

<article class='fl-location' itemscope itemtype="http://schema.org/LocalBusiness">
  <span class="name" itemprop="name">Ft. Lauderdale Office</span>
  <span itemprop="description"></span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress" class="street">3333 West Commercial Blvd<br>Suite 111</span>
    <span itemprop="addressLocality">Fort Lauderdale</span>,
    <span itemprop="addressRegion">FL</span>
    <span itemprop="postalCode">33309</span>
  </div>
  <a itemprop="telephone" href="tel:1-954-218-1600">954 218 1600</a>
</article>


