<ul>
  <li><a href="https://www.facebook.com/Current360" target="_BLANK">Current360 Facebook Page</a></li>
  <li><a id="tw" href="https://twitter.com/insidecurrent" target="_BLANK">Current360 Twitter Page</a></li>
  <li><a id="gp" href="https://plus.google.com/+Current360/posts" target="_BLANK">Current360 Google+ Page</a></li>
  <li><a id="ln" href="https://www.linkedin.com/company/current360" target="_BLANK">Current360 LinkedIn Page</a></li>
</ul>
